<div id="form login_form">
  <%= login_form do |f| %>
      <div class="row">
        <% if show_label %>
            <div class="col lbl"><%= f.label :email %></div>
        <% end %>
        <div class="col"><%= f.text_field :email %></div>
        <div class="clearfix"></div>
      </div>
      <div class="row">
        <% if show_label %>
            <div class="col lbl"><%= f.label :password %></div>
        <% end %>
        <div class="col"><%= f.password_field :password %></div>
        <div class="clearfix"></div>
      </div>

      <% if show_remember_me %>
          <div class="row rem">
            <div class="col"><%= check_box_tag(:remember_me, 1, true) %></div>
            <div class="col lbl"><%= label_tag :remember_me, 'Keep me signed in' %></div>
            <div class="clearfix"></div>
          </div>
      <% end %>
      <div class="row sub">
        <div class="col"><%= f.submit 'login' %></div>
        <div class="clearfix"></div>
      </div>
  <% end %>

  <% if show_forgot_password %>
      <div class="row forpwd">
        <div class="col">
          <%= link_to('Forgot password', bamboo_user.reset_password_path) %>
        </div>
        <div class="clearfix"></div>
      </div>
  <% end %>
</div>
<% if show_signup_link %>
    <div id="form login_form">
      <%=link_to('Signup', bamboo_user.sign_up_path)%>
    </div>
<% end %>