<div class="reset_password_form">

  <% if instructions %>
      <h1>Reset password</h1>
      <%= raw("<p>#{instruction_message}</p>") unless instruction_message.blank? %>
  <% end %>

  <%= reset_password_form do |f| %>
      <div class="row">
        <% if show_label %>
            <div class="col lbl"><%= f.label :email %></div>
        <% end %>
        <div class="col"><%= f.email_field :email %></div>
        <div class="clearfix"></div>
      </div>

      <div class="row sub">
        <div class="col"><%= f.submit("Reset password") %></div>
        <div class="clearfix"></div>
      </div>
  <% end %>
</div>