<%
   #TODO: This is not the place for this.. Allow developer to have this as configurable option
   show_label = true
%>
<div class="form validate_password_reset_form">
  <% if instructions.is_a?(Hash) and (not instructions.empty?) %>
      <%= raw("<h1>#{instructions[:heading]}</h1>") unless instructions[:heading].blank? %>
      <%= raw("<p>#{instructions[:message]}</p>") unless instructions[:message].blank? %>
  <% end %>
  <%= form_for @model.new, :url => validate_password_reset_path({encoded_params: params[:encoded_params], sti_identifier: BambooUser.white_listed_sti_classes.invert[@model.name]}.merge(extra_params ||= {})) do |f| %>
      <div class="row">
        <% if show_label %>
            <div class="col lbl"><%= f.label :email %></div>
        <% end %>
        <div class="col"><%= f.email_field :email, value: @_email, readonly: true -%></div>
        <div class="clearfix"></div>
      </div>
      <div class="row">
        <% if show_label %>
            <div class="col lbl"><%= f.label :password %></div>
        <% end %>
        <div class="col">
          <%= f.password_field :password, :placeholder => "Password", autofocus: true %>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="row">
        <% if show_label %>
            <div class="col lbl">
              <%= f.label :password_confirmation %>
            </div>
        <% end %>
        <div class="col"><%= f.password_field :password_confirmation, :placeholder => "Confirm password" %></div>
        <div class="clearfix"></div>
      </div>
      <div class="row sub">
        <div class="col"><%= f.submit("Create password") %></div>
        <div class="clearfix"></div>
      </div>
  <% end %>
</div>