<div class="login_form">
  <h1>Create password</h1>

  <p>Please enter a new password and its confirmation below. </p>
  <%= form_for @model.new, :url => validate_password_reset_path(encoded_params: params[:encoded_params]) do |f| %>
      <%= f.email_field :email, :class => 'input username', :placeholder => "Email", value: @_email, readonly: true -%>
      <%= f.password_field :password, :class => 'input password', :placeholder => "Password" -%>
      <%= f.password_field :password_confirmation, :class => 'input password', :placeholder => "Confirm password" -%>
      <%= f.submit "Create password", :class => "button btn btn-warning btn-large" -%>
  <% end %>
</div>