<div class="change_password_form">

  <% if instructions %>
      <h1>Change password</h1>
      <%= raw("<p>#{instruction_message}</p>") unless instruction_message.blank? %>
  <% end %>

  <%= change_password_form do |f| %>
      <div class="row">
        <% if show_label %>
            <div class="col lbl"><%= f.label :current_password %></div>
        <% end %>
        <div class="col"><%= f.password_field :current_password, autofocus: true %></div>
        <div class="clearfix"></div>
      </div>
      <div class="row">
        <% if show_label %>
            <div class="col lbl"><%= f.label :new_password %></div>
        <% end %>
        <div class="col"><%= f.password_field :password %></div>
        <div class="clearfix"></div>
      </div>
      <div class="row">
        <% if show_label %>
            <div class="col lbl"><%= f.label :password_confirmation %></div>
        <% end %>
        <div class="col"><%= f.password_field :password_confirmation %></div>
        <div class="clearfix"></div>
      </div>

      <div class="row sub">
        <div class="col"><%= f.submit("Change password") %></div>
        <div class="clearfix"></div>
      </div>
  <% end %>
</div>